<div class="column">
    <div class="card">
        <div class="test" role="button" aria-pressed="false" tabindex="0"></div>
        <!-- <div class="info"></div> -->
        <div class="child">
            <img class="health" src="assets\healthy.png" />
            <h5 class="name" style="color:white;">Raja</h5>
            <img class="video" src="assets\video.png" />
            <button class="btn btn-secondary" type="button">Food(Beef 3kg)</button>
            <button><i class="chevron"></i></button>
            <ul class="myUL">
                <li><input type="checkbox" checked="checked">Open Cage</li>
                <li><input type="checkbox" checked="checked">Food-Milk and Rice</li>
                <li><input type="checkbox" checked="checked">Medication-Heatex Bolus</li>
                <li><input type="checkbox" checked="checked">Cleaning-Heatex Bolus</li>
              </ul>
        </div>
        
    </div>
</div>
<div class="column">
    <div class="card">
        <div class="test"></div>
        <div class="child">
            <img class="health" src="assets\unhealthy.png" />
            <h5 class="name" style="color:white;">Raja</h5>
            <img class="video" src="assets\video.png" />
            <button class="btn btn-secondary" type="button">Food(Beef 3kg)</button>
            <button><i class="chevron"></i></button>
            <ul class="myUL">
                <li><input type="checkbox" checked="checked">Open Cage</li>
                <li><input type="checkbox" checked="checked">Food-Milk and Rice</li>
                <li><input type="checkbox" checked="checked">Medication-Heatex Bolus</li>
                <li><input type="checkbox" checked="checked">Cleaning-Heatex Bolus</li>
              </ul>
        </div>
    </div>
</div>
<div class="column">
    <div class="card">
        <div class="test"></div>
        <div class="child">
            <img class="health" src="assets\healthy.png" />
            <h5 class="name" style="color:white;">Raja</h5>
            <img class="video" src="assets\video.png" />
            <button class="btn btn-secondary" type="button">Food(Beef 3kg)</button>
            <button><i class="chevron"></i></button>
            <ul class="myUL">
                <li><input type="checkbox" checked="checked">Open Cage</li>
                <li><input type="checkbox" checked="checked">Food-Milk and Rice</li>
                <li><input type="checkbox" checked="checked">Medication-Heatex Bolus</li>
                <li><input type="checkbox" checked="checked">Cleaning-Heatex Bolus</li>
              </ul>
        </div>
    </div>
</div>
<div class="column">
    <div class="card">
        <div class="test"></div>
        <div class="child">
            <img class="health" src="assets\healthy.png" />
            <h5 class="name" style="color:white;">Raja</h5>
            <img class="video" src="assets\video.png" />
            <button class="btn btn-secondary" type="button">Food(Beef 3kg)</button>
            <button><i class="chevron"></i></button>
            <ul class="myUL">
                <li><input type="checkbox" checked="checked">Open Cage</li>
                <li><input type="checkbox" checked="checked">Food-Milk and Rice</li>
                <li><input type="checkbox" checked="checked">Medication-Heatex Bolus</li>
                <li><input type="checkbox" checked="checked">Cleaning-Heatex Bolus</li>
              </ul>
        </div>
    </div>
</div>
<div class="column">
    <div class="card">
        <div class="test"></div>
        <div class="child">
            <img class="health" src="assets\unhealthy.png" />
            <h5 class="name" style="color:white;">Raja</h5>
            <img class="video" src="assets\video.png" />
            <button class="btn btn-secondary" type="button">Food(Beef 3kg)</button>
            <button><i class="chevron"></i></button>
            <ul class="myUL">
                <li><input type="checkbox" checked="checked">Open Cage</li>
                <li><input type="checkbox" checked="checked">Food-Milk and Rice</li>
                <li><input type="checkbox" checked="checked">Medication-Heatex Bolus</li>
                <li><input type="checkbox" checked="checked">Cleaning-Heatex Bolus</li>
              </ul>
        </div>
    </div>
</div>
<div class="column">
    <div class="card">
        <div class="test"></div>
        <div class="child">
            <img class="health" src="assets\unhealthy.png" />
            <h5 class="name" style="color:white;">Raja</h5>
            <img class="video" src="assets\video.png" />
            <button class="btn btn-secondary" type="button">Food(Beef 3kg)</button>
            <button><i class="chevron"></i></button>
            <ul class="myUL">
                <li><input type="checkbox" checked="checked">Open Cage</li>
                <li><input type="checkbox" checked="checked">Food-Milk and Rice</li>
                <li><input type="checkbox" checked="checked">Medication-Heatex Bolus</li>
                <li><input type="checkbox" checked="checked">Cleaning-Heatex Bolus</li>
              </ul>
        </div>
    </div>
</div>

